@font-face {
    font-family: 'Crewniverse';
    src: url(./WSO2-MID1/crewniverse_font.otf) format('opentype');
    src: url(./WSO2-MID1/crewniverse_font.ttf) format('truetype');

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crewniverse';
}

body {
    background-color:#000016;
}

#header {
    width: 100%;
    height: 80%;
    background-image:linear-gradient(#960032, transparent);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

#header h1 {
    display: flex;
    margin: 50px 50px;
    color: #cdcdcd;
    font-size: 100px;
    text-align: center;
    font-style: italic;
    text-shadow: 8px 8px #d44b6f;
}

.headerdp {
    border-radius: 50%;
    border: 20px solid #FAF188;
    width: 400px;
    filter: drop-shadow(0 0 0.5rem);
}

.description {
    width: 70%;
    margin: 0 auto;
    font-family: 'Raleway Black', sans-serif;
}

.description h1 {
    color: #d44b6f;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.description p {
    font-size: 25px;
    margin-bottom: 50px;
    color: #cdcdcd;;
    font-family: 'Raleway Black', sans-serif;
}

.facts {
    width: 70%;
    margin: 0 auto;
}

.facts h1 {
    color: #d44b6f;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.facts ul {
    padding: 10px;
    box-sizing: border-box;
}

.facts ul li {
    font-size: 25px;
    margin-bottom: 10px;
    color:#cdcdcd;
    font-family: 'Raleway Black', sans-serif;
}

#crystal_gems {
    display: block;
    width: 70%;
    margin: auto;
    padding: 20px 20px;
    border-radius: 40px;
}

#thecrystalgems {
    width: 70%;
    color:#cdcdcd;
    font-size: 20px;
    margin: 0 auto;
}

.CGMembers {
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
}

.CGMembers h1 {
    color: #d44b6f;
}

.CGMembers ul {
    padding: 10px;
    box-sizing: border-box;
    padding-top: 30px;
}

.CGMembers ul li {
    font-size: 25px;
    margin-bottom: 10px;
    color:#cdcdcd;
    font-family: 'Raleway Black', sans-serif;
}

.CGMembers ul li a {
    font-size: 25px;
}

/* Classmate Links Section Start*/
.otherWebsites {
    padding-top: 50px;
    font-size: 25px;
    text-align: center;
    color: #d44b6f;
}

circle{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
    padding-bottom: 300%;
}

.circle-container {
	display: flex; 
	justify-content: center; 
    align-items: center; 
	padding-top: 5px;
	content: 2px;
	margin-top: 5px;
    margin-bottom: 30px;

	
	
}

.circle {
	width: 100px;
	height: 100px;
	background-color: transparent;
	border-radius: 50%;
	border: 3px solid #cdcdcd;
	margin: 10px;
	overflow: hidden;
	position: relative;
	transition: transform 0.3s;
	box-shadow: 1px 1px 8px 5px #fd5985;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
	padding-bottom: 0%;
	
}

.circle img {
	width: 100%;
	height: 100%;
	object-fit: cover;

	
}

.circle:hover {
	transform: scale(1.1);
}
.name {
	display: none; 
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
}
.text-on-hover {
    display: none;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.circle:hover .text-overlay{
	opacity: 1;
}
.text-overlay {
	font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 102, 0.7); 
    color: #f3f3f3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}
.circle:hover img {
    transform: scale(1.1); 
}

/* Classmate Links Section End*/

footer {
    margin-top: 20px;
    padding: 40px 20px;
    background-image:linear-gradient(0deg, #960032, transparent);
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin: 0 5px;
    font-family: 'Raleway Black', sans-serif;
    color: #cdcdcd;
}

@media (max-width: 400px) {
    .headerdp {
        width: 270px;
    }

    #header h1 {
        font-size: 55px;
    }

    .description h1 {
        font-size: 30px;
    }

    .facts h1 {
        font-size: 30px;
    }

    .CGMembers h1 {
        font-size: 30px;
    }

    #crystal_gems {
        width: 360px;
        border-radius: 30px;
    }
}
    

